.container {
    width                : 600px;
    height               : 900px;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows   : 0.8fr 1.2fr 1fr 1fr 1fr 1fr 1fr;
    // grid-column-gap      : 14px;
    // grid-row-gap         : 17px;
    background-color     : aquamarine
}

.logo-container {
    display  : block;
    grid-area: 1 / 1 / 2 / 5;
    color    : black;

    .logo {
        padding: 20px;
    }
}

.display {
    grid-area: 2 / 1 / 3 / 5;
    // display  : block;
    background-color: darkslategrey;
}


.numberButtons {
    display: grid;
    grid-area: 4 / 1 / 8 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 1fr 1fr 1fr 1fr;

.btn1 {
    grid-area: 1/1/2/2;
}
// 
.btn2 {
    grid-area: 1/2/2/3;
}
// 
.btn3 {
    grid-area: 1/3/2/4;
}
// 
.btn4 {
    grid-area: 2/1/3/2;
}
// 
.btn5 {
    grid-area: 2/2/3/3;
}
// 
.btn6 {
    grid-area: 2/3/3/4;
}
// 
.btn7 {
    grid-area: 3/1/4/2;
}
// 
.btn8 {
    grid-area: 3/2/4/3;
}
// 
.btn9 {
    grid-area: 3/3/4/4;
}
// 
.btn0 {
    grid-area: 4/1/5/3;
}
// 
.decBtn {
    grid-area: 4/3/5/4;
// 
}

.specialButtons {

}

// .remainderBtn {
//     grid-area: 3 / 4 / 4 / 5;
// }

// .prodBtn {
//     grid-area: 4 / 4 / 5 / 5;
// }

// .subBtn {
//     grid-area: 5 / 4 / 6 / 5;
// }

// .addBtn {
//     grid-area: 6 / 4 / 7 / 5;
// }

// .resultBtn {
//     grid-area: 7 / 4 / 8 / 5;
// }

// .clearBtn {
//     grid-area: 3 / 1 / 4 / 2;
// }

// .inverseBtn {
//     grid-area: 3 / 2 / 4 / 3;
// }

// .percentBtn {
//     grid-area: 3 / 3 / 4 / 4;
// }

}